# MariaDB設定
NS_MARIADB_USER=user
NS_MARIADB_PASSWORD=password
NS_MARIADB_HOST=localhost
NS_MARIADB_PORT=3306
NS_MARIADB_DATABASE=database

# Proxmox設定
PROXMOX_ENDPOINT=https://proxmox.example.com:8006/api2/json
PROXMOX_TOKEN_ID=user@pam!token
PROXMOX_SECRET=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
PROXMOX_NODE_NAME=pve
PROXMOX_INSECURE=false

# traQ設定
TRAQ_ENDPOINT=https://q.trap.jp
TRAQ_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TRAQ_BOT_USER_ID=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
TRAQ_STAMP_ID_LOADING=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
TRAQ_STAMP_ID_COMPLETED=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
TRAQ_STAMP_ID_ERROR=xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
